		<div style="background:black;padding:10px;">
			<h1 style="color:white"> este es el home es el estado Menu</h1>
			<div class="gato" ui-view></div>	
		</div>


		<!-- <h1>Home html</h1>
			<a  ng-click="mimascota('paco')">paco</a>
			<a ng-click="mimascota('pepe')">pepe</a>
			
			<br>
			mi gatito se llama: {{name}}

			<br>
			<a ng-click="numero = numero + 1">suma</a>
			<a  ng-click="numero = numero - 1">resta</a>

			<br>
			<div ng-show="numero > 49" ng-class="{gato:numero == 58 }">
				1::{{numero}}
			</div>

			<div ng-hide="numero == 55">
				2::{{numero}}
			</div>
			<input type="text" ng-model="Texto">
			{{Texto}}
			<ul>
				<li ng-repeat="value in Mascotas | filter:Texto" >
				</li>
			</ul>

			<input type="text" ng-model="search.clase" placeholder="clase">
			<input type="text" ng-model="search.name" placeholder="nombre">
		
			<lista-animales></lista-animales>	 -->